<h1 class="page-title">About Callan</h1>
<div class="about">
	<p>I have been baking ever since I was a child. My favorite thing to bake is cakes. I especially love decorating them. I have made cakes for birthdays, baby showers, bridal showers, and even weddings.</p>
	<p>I offer all types of flavors, toppings, and fillings. I use the finest ingredients to produce high quality cakes that not only look beautiful but taste delicious. Each one is a one of a kind creation, custom crafted to suit your needs!</p>
</div>
