<h1>Callan's Cakes</h1>
<h2>Serving all of your cake needs</h2>

<%= image_tag("sprinklecake.jpg", height: '400', width: '300', class: "img-responsive cake-image") %>

<p>The time is now: <%= Time.now %></p>




