
<div class="flexcontainer">
	<%= image_tag("sprinklecake.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
	<%= image_tag("bluecake.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
	<%= image_tag("pinkcake.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
	<%= image_tag("greencake.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
</div>




