// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
  font-family: Cutive, Georgia, serif;
  color: #844784;
  font-weight: 600;
  letter-spacing: 0em;
  font-size: 1.5em;
  margin-left: 30px;
}