// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	font-family: Cutive, Georgia, serif;
    text-align: center;
    color: #844784;
    margin: 100px;
    font-weight: 600;
    word-spacing: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0em;
    font-size: 2em;
}

th {
	font-family: Roboto, Futura, sans-serif;
    color: #844784;
    margin: 20px;
    padding: 10px;
}

table {
    margin-left: 100px;
}

body>a:hover {
	background-color: white;
	color: #22adb7;
}

body>a {
    margin-left: 110px;
}

footer {
	margin-top: 100px;
	width: 100%;
}


.new_product {
    margin-left: 100px;
}

.field>label {
    color: #844784;
    font-family: Roboto, Futura, sans-serif;
}

.field>input, .field>textarea {
    border-style: double;
    border-color: #bae5f4;
    border-radius: 5px;
}

.actions>input {
    background-color: #bae5f4;
    border-color: #bae5f4;
    border-radius: 5px;
    color: gray;
    border-style: double;
}








