// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
	}

h1 {
	font-family: Cutive, Georgia, serif;
	text-align: center;
	color: #844784;
	margin: 100px;
	font-weight: 600;
	word-spacing: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0em;
	font-size: 2em;
}

.navbar-header {
	margin-left: 50px !important;
}

.navbar-default .navbar-nav {
	margin-left: 20px;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	font-family: Roboto, Futura, sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #22adb7;
}

ul.navbar-right {
	margin: 20px;
}

.navbar-default .navbar-brand {
	font-size: 3em;
	font-family: Clicker Script, Roboto, Futura, sans-serif;
	color: #844784;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 40px;
	font-weight: 800;
}

.navbar-brand, .navbar-default .navbar-brand:hover {
	color: #844784;
}

.site-footer {
  height: 100px; 
  margin-bottom: -20px;
  background-color: #d0e4ea;  
  font-family: Roboto, Futura, sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 200px;
}

.flexcontainer {
	height: 500px;
	margin: 5px;
}

.cake-image {
	display: inline-block;
	margin: 0 auto;
	padding: 5px;
	height: 75%;
	margin-top: 100px;
}

p {
	font-family: Roboto, Futura, sans-serif;
	color: #844784;
	margin-left: 100px;
	margin-right: 100px;
	text-align: left
}

h3 {
	font-family: Roboto, Futura, sans-serif;
	color: #844784;
	margin-left: 20px;
	text-align: left
}

.phone , .email , .address {
	text-align: right;
	font-size: 1.5em;
}

.info {
	display: flex;
    flex-direction: column;
    align-items: center;
}

	#contact2 {
    padding-top: 250px;
    padding-left: 200px;
}

.form-control {
    width: 80%;
}

label {
	color: #844784;
}













