// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
}

// begin navbar

.navbar {
	background-color: white;
	margin-bottom: 50px;
}

.navbar-header, .navbar-header>a {
	font-size: 1.8em;
	font-family: Clicker Script, Roboto, Futura, sans-serif;
	color: #844784;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-right: 40px;
	font-weight: 800;
	margin-left: 10px;
}

.navbar-header>a:hover {
	background-color: white;
}

.navbar-default .navbar-nav {
	margin-top: 25px;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	font-family: Roboto, Futura, sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #22adb7;
}

ul.navbar-right {
	margin: 20px;
}


// end navbar
// begin search form

.navbar-form {
	text-transform: uppercase;
	font-family: Roboto, Futura, sans-serif;
	margin-top: 37px;
}

.search-for {
	display: inline-block;
	color: #808080;
	font-size: 1em;
}

.search-button {
	background-color: white;
	border-color: #e4dfdf;
	border-style: double;
}

.search-button:hover {
	color: #22adb7;
}

// end search form
// begin login



// end login
// begin carousel
#carousel-example-generic {
	margin: -33px;
}

.carousel {
	height: 600px;
	margin-bottom: 400px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-control:hover {
	opacity: 0.2;
}

.glyphicon-chevron-right:hover, .glyphicon-chevron-left:hover {
	color: gray;
}

.carousel-caption {
	font-family: Roboto, Futura, sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 2em;
}

//end carousel
// begin h1, h2, h3, p

.page-title {
	font-family: Cutive, Georgia, serif;
	text-align: center;
	color: #844784;
	margin: 100px;
	font-weight: 600;
	word-spacing: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0em;
	font-size: 2em;
}

p {
	font-family: Roboto, Futura, sans-serif;
	color: #844784;
	font-size: 1.2em;
}

// begin index page

.flexcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center; 
	margin-bottom: 20px;
	padding-top: 20px;
}

// end index page
// begin contact page

.contact {
	margin: 10px;
}

.contact-form>form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.phone , .email , .address {
	font-size: 1.25em;
}

.form-group {
	width: 350px;
	margin-top: 10px;
}

.contact-form>form>input {
	background-color: #bae5f4;
	border-color: #bae5f4;
	border-radius: 5px;
	color: gray;
	border-style: double;
	margin-right: 300px;
}

.form-group>label {
	color: #844784;
	font-family: Roboto, Futura, sans-serif;
	font-size: 1.25em;
}

.form-control {
	border-style: double;
	border-color: #bae5f4;
	border-radius: 5px;
}

textarea#message {
	height: 150px;
	width: 350px;
}



// end contact page
// begin product page

.row {
	margin-bottom: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
}

h2, h3 {
	font-family: Cutive, Georgia, serif;
	color: #844784;
	text-align: center;
}

.cake-types {
	border-radius: 150px;
}

// end product page
// begin about page

.about {
	margin-bottom: 300px;
	margin-left: 100px;
	margin-right: 100px;
}

// end about page
//begin footer

footer {
	color: #6b7a7c;
	height: 100px;
  padding-top: 300px;
}

// end footer






