// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
	}

// begin navbar

.navbar-header, .navbar-header>a {
	font-size: 1.8em;
	font-family: Clicker Script, Roboto, Futura, sans-serif;
	color: #844784;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 40px;
	font-weight: 800;
	margin-left: 10px;
}

.navbar-default .navbar-nav {
	margin-left: 20px;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	font-family: Roboto, Futura, sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #22adb7;
}

ul.navbar-right {
	margin: 20px;
}


// end navbar
// begin h1, h2, h3, p

.page-title {
	font-family: Cutive, Georgia, serif;
	text-align: center;
	color: #844784;
	margin: 100px;
	font-weight: 600;
	word-spacing: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0em;
	font-size: 2em;
}

p {
	font-family: Roboto, Futura, sans-serif;
	color: #844784;
	margin-left: 100px;
	margin-right: 100px;
	text-align: left;
	font-size: 1.2em;
}

// begin index page

.flexcontainer {
	height: 500px;
	margin: 5px;
}

.cake-image {
	display: inline-block;
	margin: 0 auto;
	padding: 5px;
	height: 75%;
	margin-top: 100px;
}

// end index page
// begin contact page

.phone , .email , .address {
	text-align: right;
	font-size: 1.5em;
}

.info {
	display: flex;
    flex-direction: column;
    align-items: center;
}

// end contact page
// begin product page

.row {
	margin-bottom: 50px;
	padding: 100px;
}

h2 {
	font-family: Roboto, Futura, sans-serif;
	color: #844784;
	padding-right: 20px;
	text-align: center;
}

.cake-types {
	border-radius: 150px;
}

// end product page
//begin footer

.site-footer {
  height: 100px; 
  margin-bottom: -20px;
  background-color: #d0e4ea;  
  font-family: Roboto, Futura, sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 200px;
}


// end footer










